
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.calc {
  width: 350px;
}

#input {
  background: #000000;
  padding: 20px;
  border-radius: 10px;
  text-align: right;
  font-size: 2em;
  margin-bottom: 20px;
  color: #00ff00;
  box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.5);
}

button {
  width: 22%;
  padding: 20px;
  font-size: 1.5em;
  border: none;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: aqua;
  font-weight: bold;
}
